{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ page_header }}
{% endblock %}

{% block add %}

<ul class="menu">
    <li><a href="/">продукты</a></li>
    <li><a href="/admin/">админка</a></li>
</ul>
<h1>{{ page_header }}</h1>
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.modified_at }}<br>
        {{ form.price }}<br>
        {{ form.vendor }}<br>
        <span>{{ error }}</span>
        <button type="submit">Добавить товар</button>
    </form>
</div>

<form action="/">
    <button type="submit">Список товаров</button>
</form>


{% endblock %}

{% block additional_js %}
<script src="{% static 'code.js' %}"></script>
{% endblock %}