{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ page_header }}
{% endblock %}


{% block content %}

<ul class="menu">
    <li><a href="/add/">добавить продукты</a></li>
    <li><a href="/admin/">админка</a></li>
</ul>

<h1>{{ page_header }}</h1>



<table id='table'>
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Поставщик</th>
        <th>Дата создания</th>
    </tr>
    {% for item in goods %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.vendor }}</td>
        <td>{{ item.created_at }}</td>
    </tr>
    {% endfor %}
</table>

<form action="/add/">
    <button type="submit">Добавить товар</button>
</form>


<button class='button' type="submit">тестовая кнопка</button>


<div class='modal'>

</div>


{% endblock %}

{% block additional_js %}
<script src="{% static 'code.js' %}"></script>
{% endblock %}